<h1 class="page-heading text-center">Where do you want to search for apartments?</h1>
<div ng-repeat-start="city in cities" ng-if="$first">
  <div>
    <a ng-href="#/cities/{{ city.name }}">
      <div class="col-lg-12 img-container">
        <img class="img-responsive img-rounded center-block" ng-src="{{ city.image }}" />
        <div class="overlay text-center text-uppercase">
          <h2><span class="label label-default">{{ city.name }}</span></h2>
        </div>
      </div>
    </a>
  </div>
</div>
<div ng-repeat-end ng-if="!$first">
  <div>
    <a ng-href="#/cities/{{ city.name }}">
      <div class="col-md-6 img-container">
        <img class="img-responsive img-rounded center-block" ng-src="{{ city.image }}" />
        <div class="overlay text-center text-uppercase"><h2><span class="label label-default">{{ city.name }}</span></h2></div>
      </div>
    </a>
  </div>
</div>
